<h1 class="text-center py-3">Cadaver Infinito</h1>

<div class="container  py-3" id="cadaverContainer">
    <p class="text-center"> Acá podrás ver el avance del cadaver a medida que se termine cada ronda</p>
    <ul>
        {{#each cadaveresEntradas}}
        <li>{{this}}</li>
        {{/each}}

    </ul>
</div>

<footer>
  <p class="text-center">por @adlejandro -Alejandro Pinedo- 2021 </p>
</footer>
