<!DOCTYPE html>
<html>
  <head>
    <script src="/nModules/axios/dist/axios.js"></script>
      <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/nModules/bootstrap/dist/css/bootstrap.css">
    <title>Cadaver Infinito</title>
   
     </head>
  <body>
   {{{body}}}
    
    
  </body>
</html>